body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    background: blue;
}
h2{
background: orange;
height: 550px;
width: 500px;
font-family: poppins sans-serif;
text-align: center;
margin-top: 30px;
color: white;
position: relative;


}
h2::after{
    content: "";
    position:absolute;
    background: white;
    left: 50px;
    transform: translateX(-50%);
    top: 55px;
    height: 50px;
    box-shadow: 
        0 80px 0 white, 0 160px 0 white, 0 240px 0 white, 0 320px 0 white, 0 400px 0 white,
        100px 0 0 white, 100px 80px 0 white, 100px 160px 0 white, 100px 240px 0 white, 100px 320px 0 white, 100px 400px 0 white,
        200px 0 0 white, 200px 80px 0 white, 200px 160px 0 white, 200px 240px 0 white, 200px 320px 0 white, 200px 400px 0 white,
        300px 0 0 white, 300px 80px 0 white, 300px 160px 0 white, 300px 240px 0 white, 300px 320px 0 white, 300px 400px 0 white,
        400px 0 0 white, 400px 80px 0 white, 400px 160px 0 white, 400px 240px 0 white, 400px 320px 0 white, 400px 400px 0 white;
    width: 50px;
}